h1 {
    text-align: center;
    color: blue;
}

#signin-section {
    text-align: right;
    display: inline-block;
}


.v-center {
    align-items: center;
}

.mauto {
    margin-left: auto;
    margin-right: auto;
}