<!doctype html>
<html>

<head>
    <title>{{title}}</title>
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">


    <link rel="stylesheet" href="./static/styles.css">
</head>

<body>

    <div class="d-flex v-center p1" style="padding: 2rem;">

        <a href="/" class="btn btn-light" style="margin-right: 8px;">home</a> 
        <a href="/blog" class="btn btn-light" style="margin-right: 8px;">all posts</a> 
        <a href="/newpost" class="btn btn-light" style="margin-right: 8px;">new post</a>

        <div class="ml-auto d-flex" style=>
            <form action="/logout" method="post" id='logout'>
                <a href="/login" class="btn btn-sm btn-primary" style="margin-right: 10px;">Login</a>
              <input class="btn btn-sm btn-primary" type="submit" value="Log Out"/>
            </form>
        </div>
    </div>

    <div style="margin-left: 10px;">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>